/problema1/Ejercicio1/nbproject/private/
/problema1/Ejercicio1/build/
/problema2/Ejercicio2/nbproject/private/
/problema2/Ejercicio2/build/
/problema3/Ejercicio3/nbproject/private/
/problema3/Ejercicio3/build/
/problema4/Ejercicio4/nbproject/private/
/problema4/Ejercicio4/build/
